//- dashboard.pug
extends layout

block content
  .container.mt-5
    h2 Welcome, #{user.name}!
    p You are now logged in  #{user.role}.
    a.btn.btn-primary(href="/reserve") Reserve a Table
    a.btn.btn-secondary(href="/logout") Logout

    h3.mt-5 Your Reservations
    if reservations && reservations.length > 0
      table.table.table-striped
        thead
          tr
            th Customer Name
            th Date
            th Time
            th Guests
            th Phone Number
        tbody
          each reservation in reservations
            tr
              td= reservation.customer_name
              td= reservation.reservation_date
              td= reservation.reservation_time
              td= reservation.number_of_guests
              td= reservation.phone_number
    else
      p You have no reservations yet.